<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<form method="POST" th:action="@{/orders}" th:object="${order}">
    <h1>Zamów przygotowane taco!</h1>

    <img th:src="@{/images/TacoCloud.png}"/>
    <a th:href="@{/design}" id="another">Przygotuj kolejne taco</a><br/>

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Usuń wymienione problemy i spróbuj ponownie.
        </span>
    </div>

    <h3>Adres dostarczenia taco...</h3>
    <label for="deliveryName">Imię i nazwisko: </label>
    <input type="text" th:field="*{deliveryName}"/>
    <br/>

    <label for="deliveryStreet">Ulica: </label>
    <input type="text" th:field="*{deliveryStreet}"/>
    <br/>

    <label for="deliveryCity">Miejscowość: </label>
    <input type="text" th:field="*{deliveryCity}"/>
    <br/>

    <label for="deliveryState">Województwo: </label>
    <input type="text" th:field="*{deliveryState}"/>
    <br/>

    <label for="deliveryZip">Kod pocztowy: </label>
    <input type="text" th:field="*{deliveryZip}"/>
    <br/>

    <h3>Sposób płatności...</h3>
    <label for="ccNumber">Numer karty kredytowej: </label>
    <input type="text" th:field="*{ccNumber}"/>
    <br/>

    <label for="ccExpiration">Data ważności: </label>
    <input type="text" th:field="*{ccExpiration}"/>
    <br/>

    <label for="ccCVV">Kod CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
    <br/>

    <input type="submit" value="Złóż zamówienie"/>
</form>

</body>
</html>